@font-face {
  font-family: et-book-italic;
  src: url(./et-book-display-italic-old-style-figures.woff);
  font-family: et-book-roman;
  src: url(./et-book-roman-line-figures.woff)
}
body{
  background: #232633;
  font-family: et-book-roman,sans-serif;
  color: white;
}

.etherscan,.telegram{
font-size: 1.2rem;
text-decoration:none;
color: white;
border-bottom: 1px white solid;
font-family: et-book-italic ;

}
.mai{
  font-size: 1.4rem;
  margin-left: .7rem;
  top: -1.4rem;
  
}
.dis{
  font-weight: 400;
   margin-right: 150px;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}
.svglogo{
margin-top: -19px;
}
.navBar{
  margin-top: 150px;
}
em{
  font-family:et-book-italic;

}
.verbline{
  font-size: 22px;
  margin-left: 53px;
}
.connect{
  font-size: 24px;
  margin-top: 80px;
  margin-left: 50px;
}
.logged{
  font-size: 20px;
  margin-top: 12px;
margin-left: 50px;
}
.send{
  margin-top: 50px;
  margin-left: 50px;
}
.text{
  display: inline-block;
    font-size: 1.8rem;
    color: white;
    border-bottom: 2px white solid;
    text-decoration: none;
}
.ETH{
  margin-left: 50px;
}
.amounts{
  margin-top: 80px;
  margin-left: 50px;
}
.line{
  margin-left: 50px;
}
textarea {
  display: block;
  border: none;
  border-bottom: 2px #111111 solid;
  background: aquamarine;
  padding: .7rem;
  font-size: 1.4rem;
  width: 100%;
  position: relative;
  height: 8.4rem;
  resize: none;
  margin-bottom: 1.4rem;
  margin-left: 50px;
}
